@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(236deg, rgb(241, 11, 11), #0e36eb);
}

p{
    font-size: x-large;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 4px solid rgb(5, 5, 5);
    background-color: rgb(97, 97, 97);
    color: rgb(2, 2, 2);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 25pt;
    font-weight: 600;
}